      <div class="calendar-wrapper">
        <div class="container marketing">
        <h2>What's Coming up</h2>
          <!-- Three columns of text below the carousel -->
          <div class="interactive row">
            {{ rows }}
          </div><!-- /.row -->
        </div><!-- /.container -->
      </div>
