      <div class="fluid-featured">
        <div class="container">
          <div  class="row">
            {{ rows }}
            <div class="clear">
            </div>
          </div>
        </div>
      </div>
