<i class="fa {{ fields.field_font_awesome_ico.content|naked_field }} element-icon "></i><h1>{{ fields.field_main_header.content|naked_field }}</h1>
<h2 class="white">{{ fields.field_sib.content|naked_field }}</h2><a target="_blank" href="{{ fields.field_featured_link.content|naked_field }}" class=""><i class="fa fa-caret-right"></i> GET STARTED</a>
