<h2 class="text-center">{{ fields.field_intro_box_title.content|naked_field }} </h2>
  <p class="normal text-center">
    {{ fields.field_into_box_body.content|naked_field }}
  </p>
  <p class="text-center">
    <a href="{{ fields.field_intro_box_link.content|naked_field }}" class="btn btn-lg btn-all"><strong>Learn More</strong></a>
  </p>
