      <div class="mid">
        <div class="container">
          <div class="row">
            <div class="about-us col-sm-12">
              <div class="intro row">
                {{ rows }}
              </div>
            </div>
          </div>
        </div>
      </div>
