<a href="{{ fields.field_slideshow_url.content|naked_field }}"><img class="first-slide" src="{{ fields.uri.content|naked_field }}" alt="{{ fields.title.content|naked_field }}"></a>
<div class="container">
  <div class="carousel-caption">
  </div>
</div>
