      <div class="marketing-wrapper">
        <div class="container marketing">

          <!-- Three columns of text below the carousel -->
          <div class="interactive row">
            {{ rows }}
          </div><!-- /.row -->
        </div><!-- /.container -->
      </div>
